.main-container{
    width : 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.container{
    width : 850px;
    height: 800px;
    margin-top: 50px;
    display : flex;
    justify-content: space-between;
    overflow-x: auto;
}

.images-list-container{
    width : 300px;
    height: 100%;
    min-width: 300px;
}

.image-info{
    width : 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-info-selected{
    background-color: hwb(240 28% 6%);
    color: white;
}

.left-image{
    width: 20%;
    height: 70%;
    border: 1px solid gold;
    margin-left: 4px;
    border-radius : 1em;
}

.left-image-title{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-left: 5px;
    margin-left: 3px;
    margin-right: 5px;
    width: 76%;
    height: 30%;
    display: inline-block;
    font-size: 100%;
    overflow: hidden;
    white-space: nowrap; 
}

.image-container{
    width : 520px;
    height: 100%;
    min-width: 520px;
}

.image-container-image{
    width : 100%;
    height: 94%;
}

.right-image{
    width: 100%;
    height: 100%;
}

input{
    width: 98%;
    height: 5%;
    text-align: center;
    border : none;
}